SECRET_KEY=<SECRET-KEY>
POSTGRES_PASSWORD=<POSTGRES-PASSWORD>
REDIS_PASSWORD=<REDIS-PASSWORD>
# 超级管理员
SUPERADMIN_NAME=<SUPERADMIN_NAME>
SUPERADMIN_EMAIL=<SUPERADMIN_EMAIL>
SUPERADMIN_PASSWORD=<SUPERADMIN_PASSWORD>